{% extends "clips/base.html" %}

{% block title %}Slice{% endblock %}

{% block content %}
<div class="bg-zinc-100 shadow-md rounded px-8 pt-6 pb-8 mb-4" x-data="upload">
  <div class="flex justify-between">
    <h2 class="text-3xl font-bold">Upload Video</h2>
    <span class="cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </span>
  </div>
  <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">

    <form class="form flex flex-col my-2 gap-2 col-span-2" action="upload/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ upload_form }}
      <input type="submit" value="Publish Clip"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" />
    </form>

    <div class="col-span-2 lg:col-span-1 xl:col-span-2 flex justify-center">
      <div x-show="preview">
        <video id="preview" controls x-ref="preview"></video>
        <div class="flex gap-2 pt-2">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            @click="start=$refs.preview.currentTime">Set Start Point</button>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            @click="end=$refs.preview.currentTime">Set End Point</button>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ms-auto"
            @click="trim()">Trim</button>
        </div>
      </div>

      <div x-show="loading" class="m-auto p-8">
        <svg aria-hidden="true"
          class="inline w-10 h-10 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
          viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor" />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill" />
        </svg>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% with editable=True %}
  {% for clip in clips %}
  {% include 'clips/clipcard.html' %}
  {% endfor %}
  {% endwith %}
</div>
{% endblock %}

{% block script %}
{% load static %}
<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data('upload', () => ({
      preview: false,
      loading: false,
      url: '',
      start: -1,
      end: -1,
      loadPreview(e) {
        this.loading = true;
        this.preview = false;

        const file = e.target.files[0];

        const reader = new FileReader();

        const video = document.getElementById("preview");
        video.pause();
        video.textContent = "";

        reader.onload = readerEvent => {
          const buffer = readerEvent.target.result;
          const url = URL.createObjectURL(new Blob([buffer], { type: "video/mp4" }));

          this.url = url;

          const source = document.createElement("source");
          source.src = url;
          source.type = "video/mp4";
          video.appendChild(source);
          video.load();

          this.preview = true;
          this.loading = false;
        }

        reader.readAsArrayBuffer(file);
      },
      trim(e) {
        const formatTime = (seconds) => {
          let date = new Date(null);
          date.setMilliseconds(seconds * 1000);
          return date.toISOString().substr(11, 8).replace(".", ":");
        }

        start = formatTime(this.start);
        end = formatTime(this.end);

        setWorkerCallback((blob) => {
          const url = URL.createObjectURL(blob);

          const video = document.getElementById("preview");
          video.pause()
          video.textContent = "";

          const source = document.createElement("source");
          source.src = url;
          source.type = "video/mp4";
          video.appendChild(source);
          video.load();

          const input = document.getElementById("video-input");
          const file = new File([blob], "trimmed.mp4", { type: "video/mp4", lastModified: new Date().getTime() }, 'utf-8');
          const container = new DataTransfer();
          container.items.add(file);
          input.files = container.files;
          console.log(input.files)
        });

        fetch(this.url).then((response) => {
          return response.arrayBuffer();
        }).then((buffer) => {
          startWorkerTrim(buffer, start, end);
        });
      }
    }));
  });

  const worker = new Worker("{% static 'ffmpeg-worker-mp4.js' %}");

  worker.onmessage = function (e) {
    const msg = e.data;
    switch (msg.type) {
      case "ready":
        ready = true;
        break;
      case "stdout":
        // console.log(msg.data);
        break;
      case "stderr":
        // console.log(msg.data);
        break;
      case "done":
        // console.log(msg.data);
        const out = msg.data.MEMFS[0];
        const blob = new Blob([out.data], { type: "video/mp4" });
        workerCallback(blob);
        break;
    }
  };

  let ready = false;
  let workerCallback = () => { };

  function setWorkerCallback(callback) {
    workerCallback = callback;
  }

  function startWorkerTrim(buffer, start, end) {
    worker.postMessage({
      type: "run",
      MEMFS: [{ name: "in.mp4", data: new Uint8Array(buffer) }],
      arguments: ["-ss", start, "-to", end, "-i", "in.mp4", "-c", "copy", "out.mp4"],
    });
  }

</script>
{% endblock %}